In [1]:
import pymysql

In [2]:
class bank:
    def __init__(self,host,user,port,password,database):
        self.conn = pymysql.connect(
        host=host,
        user=user,
        port=port,
        password=password,
        database=database
        )
        self.cursor = self.conn.cursor()
        self.create_table()
    def create_table(self):
        self.cursor.execute("""
        CREATE TABLE IN NOT EXIST ACCOUNTS(
        ACCOUNT_ID IN AUTO_INCREAMENT PRIMARY KEY NOT NULL,
        CUSTOMER_NAME VARCHAR(255) NOT NULL,
        BALANCE FLOAT NOT NULL
        )
        """)
        self.conn.commit()
    def add_account(self,customer_name,balance):
        self.cursor.execute("INSERT INTO ACCOUNTS (CUSTOMER_NAME,BALANCE) VALUE(%s,%s)",(customer_name,balance))
        self.conn.commit()
        print("ADDED ACCOUNT SUCCESSFULLY")
    def search_account(self,keyword):
        self.cursor.execute("SELECT * FROM ACCOUNTS WHERE COSTUMER_NAME LIKE %s",(f"%{keyword}%,"))
        result=self.cursor.fetchall()
        if not result:
            print("no account found")
        else:
            print("matching account found")
            for row in result:
                print(row)
    def list_all_accounts(self):
        self.cursor.execute("SELECT * FROM ACCOUNT")
        result = self.cursor.fetchall()
        if not result:
            print("no account found")
        else:
            print("all account")
            for row in result:
                print(row)
    def delete_account(self,account_id):
        self.cursor.execute("DELETE FROM ACCOUNTS WHERE ACCOUNT_ID = %s",(account_id,))
        self.conn.commit()
        print(f"ACCOUNT DELETED {account_id} SUCCESSFULLY..")
    def close_conn(self):
        self.cursor.close()
        self.conn.close()
def main():
    host=input("enter mysql host:")
    user=input("enter user name:")
    port=int(input("enter the port number:"))
    password=input("input the password:")
    database="bank"
    program=Bank(host,user,port,password,database)
    
    program.add_account("john doe",1000.00)
    program.add_account("hamid",2000.00)
    program.add_account("sule john",3000000.00)
    program.search_account("john doe")
    program.list_all_accounts()
    program.delete_account(2)


    program.close.conn()
if __name__ == "__main__":
   
    main()

enter mysql host:localhost
enter user name:root
enter the port number:3360
input the password:(Omattaiiii1111$)

NameError: name 'Bank' is not defined